body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    background-image: url("./img/geeks_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
     #yesButton {
        position: static; /* Или используйте 'relative' в зависимости от желаемого эффекта */
        margin: 10px auto; /* Центрирование кнопки */
        width: auto;
    }
    .container, .buttons {
        width: 100%; /* Адаптация ширины контейнеров */
        flex-direction: column; /* Стек элементов вертикально */
        margin: 10px; /* Уменьшение внешних отступов */
    }

    .header_text, .second_text, .text {
        font-size: 20px; /* Уменьшение размера шрифта */
    }

    .btn {
        width: auto; /* Увеличение кнопок для удобства нажатия */
        padding: 10px; /* Уменьшение внутренних отступов */
    }

    img {
        width: 100%; /* Адаптация изображений под ширину экрана */
        height: auto; /* Сохранение пропорций изображений */
    }

    #noButton, #yesButton {
        position: static; /* Убираем абсолютное позиционирование для лучшей адаптации */
        margin: 10px auto; /* Центрирование кнопок */
    }
}
/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    /* Smooth movement */
}
.text {
    background: white;
    width: 900px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#yesButton {
    position: absolute;
    right: 850px;
    /* Smooth movement */
}

.header_text {
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    /*padding-top: 30px;*/
    padding-bottom: 5px;
}

.buttons {
    width: 900px;
    display: flex;
    gap: 200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    /* optional: adds some space between the buttons */
}

.btn {
    width: 200px;
    height: 100px;
    background-color: deeppink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 40px 20px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

img {
    width: 400px;
    /*height: ;*/
}

#yesButton {
    position: absolute;
    right: 850px;
}
